* {
    margin: 0;
    padding: 0;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&family=Poppins&family=Work+Sans:wght@500&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* main{
        display: flex;
        justify-content: center;
    } */

.container {
    background-color: #FFFFFF;
    border-radius: 6px;
    max-width: 870px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}


/* hr{
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    margin: 30px 0;
} */

.line {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    border-top: 1.5px solid #D1D1D1;
}

/* -------
header and nav secttion
--------- */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 22rem;
    background-color: #562EFF;
    color: #FFFFFF;
    padding: 20px 0;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 35px;
    align-items: center;
}

.navbar nav ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.navbar nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.header .logo img {
    width: 40.42px;
    height: 51px;
}


/* top player styles */
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}

.players {
    display: grid;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player h3 {
    font-size: 18px;
}

.player img {
    width: 56px;
    height: 56px;
}

/* ------top blogs section----------- */
.top-blogs {
    margin: 30px 0;
}

.blog .thumbnail img {

    width: 177px;
    height: 117px;
}

.blog-info {
    margin: 10px 20px 0 0;

}

.blogs-container {
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
    gap: 15px;
}


.blog .blog-info .blog-title {
    font-weight: 550;
    font-size: 20px;
    line-height: 34px;
}

.blog .blog-info .blog-author {
    color: #9F9F9F;
    font-size: 16px;
    line-height: 24px;
}

.blog .blog-info .blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* ----------
course section
---------- */

.course-banner img {
    width: 224px;
    height: 104px;
    margin-bottom: 10px;
}

.courses {
    display: flex;
    /* justify-content: space-evenly; */
    /* text-align: center; */
}

.course-individual {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000013;
}

.course-name {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 10px 0;
}

.course-author {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}

.course-info {
    color: #a2a2a2;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 13px;
    font-weight: 400;
}

.course-info .course-rating .filled {
    color: #FFC014;
}

.course-duration {
    color: #FF4A60;
    ;
    background-color: #FFE4E8;
    font-weight: 550;
    border-radius: 14px;
    padding: 7px;
}

/* media query section */


@media screen and (max-width:576px) {
.header{
    width: 100%;
    gap: 3rem;
}
.logo, .navbar{
    gap: 10px;
}

.navbar nav ul{
    gap: 10px;
}


    .players{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .player{
        justify-content: center;
    }
    .section-title{
        text-align: center;
    }
    .blogs-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
        text-align: center;
    }
    .courses{
        flex-direction: column;
        text-align: center;
    }
    .course-info{
     justify-content: center;
    }

}